.cutDownTime{
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 0;
    /*top: 5px;*/
    /*overflow: auto;*/
    >.restTime{
        position: relative;
        z-index: 1;
    }
    >.progress{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: #e9e9e9;
        box-shadow: 1px 0px 0px 0px rgba(225,225,225,1);
        z-index: 0;
    }
    .TimeActioncancel{
        color: #9C9C97;
        font-family: Tahoma,sans;
        right: -.5em;
        cursor: pointer;
        line-height: 1rem;
        top: 0;
        margin-top: -.7em;
        background: #fff;
        border-radius: 2em;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid #ccc;
        font-size: 1rem;
        position: absolute;
        text-align: center;
    }
}