.index{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    // background: url(../static/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    header{
        display: flex;
        justify-content: space-between;
        background: #fff;
        width: 80%;
        padding: 10px 10px;
        // outline: red 1px solid;
        border-bottom: 1px solid rgba(221, 221, 221);
    }
    .ant-input{
        /*width: 90%;*/
        
    }
    main{
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        background: #fff;
        // outline: red 1px solid;
       
    }
    .ant-dropdown-link{
        color: rgb(80, 86, 89);
    }
    &>p:nth-child(1){
        font-size: 20px;
        font-weight: bold;
        z-index: 1;
    }
    .indexlogin{
        // margin-right: 3em;
        z-index: 1;
    }
    .indexsignup{
        margin-left: 3em;
        z-index: 1;
    }
    .ant-spin-spinning{
        zoom: 5;
        margin: 1vh 0;
        z-index: 1;
    }
    .ant-btn-primary{
        // margin-top: 10vh;
        width: 10vh;
    }
    .kv-vbg{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}