.App {
  text-align: center;

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }

    h2 {
      color: white;
    }
  }

  .App-intro {
    font-size: large;
  }
}

.login{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;

  &>p:nth-child(2){
    font-size: 30px;
    font-weight: bold;
  }
  .login-form {
    width: 100%;
    max-width: 400px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  img{
    height: 15em;
  }
  /*
  @media (min-width: 1200px) {
    .login-form {
      width: 30vw;
    }
  }
  @media (min-width: 992px ) and (max-width: 1200px) {
    .login-form {
      width: 30vw;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .login-form {
      width: 40vw;
    }
  }
  @media (max-width: 768px) {
    .login-form {
      width: 65vw;
    }
  }
  */
  @media (max-width: 430px){
    .login-form {
      width: 100%;
      max-width: 300px;
  }
}

}
.signup{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  &>p:nth-child(2){
    font-size: 30px;
    font-weight: bold;
  }
  .login-form {
    width: 100%;
    max-width: 400px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  img{
    height: 15em;
  }
  /*
  @media (max-width: 1200px) {
    .login-form {
      width: 25vw;
    }
  }*/
  /*
  @media (min-width: 1200px) {
    .login-form {
      width: 30vw;
    }
  }
  @media (min-width: 992px ) and (max-width: 1200px) {
    .login-form {
      width: 30vw;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .login-form {
      width: 40vw;
    }
  }
  @media (max-width: 768px) {
    .login-form {
      width: 65vw;
    }
  }
  */
  @media (max-width: 430px){
      .login-form {
        width: 100%;
        max-width: 300px;
    }
  }
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}