#TodoItem{
    
    width: 100%;
    .text{
        display: block!important;
        padding-left: 8px;
        word-break: break-word;
    }
    .editing{
        background: #fff3d2;
        display: flex!important;
        justify-content: space-between;
        .iconWrapper .anticon{
            margin-left: 4px;
            color: #a9a9a9;
            cursor: pointer;
        }
        textarea{
            border: 0;
            padding: 0;
            outline: none;
            background: transparent;
            width: 80%;
            resize: none;
            height: 26px;
            flex: 1;
            overflow: hidden;
            word-break: break-word;
        }
    }
}
#textarea{
    border: 0;
    padding: 0;
    outline: none;
    background: transparent;
    width: 80%;
    resize: none;
    height: 26px;
    flex: 1;
    overflow: hidden;
    word-break: break-word;
}
/*
@media (min-width: 768px){
    #TodoItem .editing textarea{
        width: calc(26vw - 54px);
    }
    
}
@media (max-width: 768px){
    #TodoItem .editing textarea{
        width: calc(80vw - 54px);
    }
    
}
*/